<!-- Describe task in general -->

<p>
    Sortiert die angegebene {% if is_js %}Array{% else %}Liste{% endif %} so, dass ihre
    elemente gruppiert werden und diese Gruppen in der Reihenfolge abnehmender Häufigkeit enden, d.h. der Anzahl der
    mal ein Element in {% if is_js %}Array{% else %}Liste{% endif %} erscheint. Wenn zwei Elemente die gleiche Häufigkeit haben, sollten ihre Gruppen
    in der gleichen Reihenfolge wie das erste Auftreten des Elements in der Liste {% if is_js %}Array{% else %}{% endif %} stehen.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}freq-sort3.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
    Wenn Sie mehr mit dem ähnlichen Fall üben möchten, versuchen Sie
    <a target="_blank" href="https://py.checkio.org/mission/frequency-sorting">Frequency Sorting</a> aufgabe.
</p>



<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> {% if is_js %}Array{% else %}Liste{% endif %}
</p>

<p>
   <strong>Ausgabe:</strong> {% if is_js %}Array{% else %}Liste oder ein anderes Iterable (Tupel, Iterator, Generator){% endif %}
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
   <strong>Wie es verwendet wird:</strong>
    Zur Analyse von Daten mit Hilfe von mathematischer Statistik und mathematischer Analyse sowie zur Ermittlung von Trends und zur Vorhersage zukünftiger Veränderungen (Systeme, Phänomene usw.)
</p>
<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Vorbedingung:</strong>
    <ul>
        <li>elemente können Ints oder Strings sein</li>
    </ul>
    
</p>

<p>
    <i>Die Aufgabe wurde aus Python CCPS 109 Herbst 2018 entnommen. Sie wird unterrichtet für
    Ryerson Chang School of Continuing Education von <a href="http://www.scs.ryerson.ca/~ikokkari/">Ilkka Kokkarinen</a></i>
</p>


